.footer-table {
	position: sticky;
	z-index: 1;
	bottom: 0;
}

.footer-pagination {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.footer-row {
	display: flex;
	flex-direction: row;
}

.footer-page-input {
	width: 120px;
}

.footer-page-select {
	margin-right: 10px;
}
