.header {
	top: 0;
	position: sticky;
	z-index: 1;
	width: 100%;
}

.th {
	padding: 5px;
	// overflow: hidden;
}

.resizer {
	right: 0;
	width: 10px;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: 1;
	touch-action: none;
}
